{% extends "base.html" %}
{% load thumbnail %}

{% block title %}
  Homepage
{% endblock title %}

{% block body %}
  {% for post in posts %}

    <!-- post card -->
    <div class="flex bg-white shadow-lg mx-4 md:mx-auto my-8 max-w-md md:max-w-2xl "><!--horizantil margin is just for display-->
        <div class="flex items-start px-4 py-6">
        {% thumbnail post.author.profile.image "500x500" crop="center" as im %}
        <img class="w-12 h-12 rounded-full object-cover mr-4 shadow" src="{{im.url}}" alt="avatar">
        {% endthumbnail %}
        <div class="">
            <div class="flex items-center justify-between">
                <h2 class="text-lg font-semibold text-gray-900 -mt-1">{{post.author.username}} </h2>
                <small class="text-sm text-gray-700 mx-4">{{post.date}}</small>
            </div>
            <p class="mt-3 text-gray-700 text-sm">
                {{post.text}}
            </p>
            <div class="mt-4 flex items-center">
                <div class="flex mr-2 text-gray-700 text-sm mr-4">
                    <a href="{% url 'feed:detail' post.id %}" class="text-blue-600 hover:underline">Read more</a>
                </div>
            </div>
        </div>
        </div>
    </div>
    
  {% endfor %}
{% endblock body %}